<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMSE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">CMSE</div>
            <div class="menu">
                {% if user_logged_in %}
                    <a href="{{ url_for('events') }}">События</a>
                    <a href="{{ url_for('profile') }}">Профиль</a>
                    <a href="{{ url_for('logout') }}">Выйти</a>
                {% else %}
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
